<!DOCTYPE html>
<html>
  <head>
    <title>WebTanque</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scaling=1, maximum-scale=1">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WebTanque</a>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      <div class="col-sm-8 col-xs-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
